* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-snap-type: y mandatory;
}

h1,h2,p {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #003C43;
}

.container-header {
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.intro {
    font-size: 60px;
}

.div-img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.img-esp {
    width: 500px;
    border-radius: 10px;
}

body {
    background-color: #EEF7FF;
}

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #003C43;
}

.box-ul, .box-ol {
    margin: 10px 10px;
    display: flex;
    justify-content: center;
    flex: 1;
}

.button-css {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100px;
    padding: 10px 20px;
    background-color: #4D869C;
    color: #EEF7FF;
    border: none;
    border-radius: 5px;
    cursor: pointer

}

.button-css:hover {
    scale: 1.05;
    background-color: #7AB2B2;

}

.button-css:active {
    background-color: #CDE8E5;
}

.container-pages {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.pages {
    flex: 1;
    width: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.pages-item {
    margin: 10px 10px;
}

.container-photo-box {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-wrap: wrap;
}

.photo-box {
    flex: 1;
    width: 1000px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.h2-photo-box {
    margin-top: 5px;
}

.photo-box-item {
    width: 330px;
    height: 330px;
    margin: 10px 0;
}

.box-img {
    height: 300px;
    width: 300px;
    border-radius: 10px;
}

.box-img:hover {
    scale:1.05;
    opacity: 0.8;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #77b0aa;
    background-color: #77b0aa;
    height: 50px;
}