h1,h2,p {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #4D869C;
}

.div-img {
    text-align: center;
}

body {
    background-color: #EEF7FF;
}

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #4D869C;
}

.button-css {
    padding: 10px 20px;
    background-color: #4D869C;
    color: #EEF7FF;
    border: none;
    border-radius: 5px;
    cursor: pointer

}

.button-css:hover {
    scale: 1.05;
    background-color: #7AB2B2;

}

.button-css:active {
    background-color: #CDE8E5;
}